.blog-list {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  flex-flow: row wrap;
}
.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 20%;
}
